# Ultramarathon results

## Abstract

In this notebook, we will dig deeper into some individual ultramarathon results. The data available for us was provided by the organizers of this event. It consists of data recorded on the events from 2008 to 2020.

In [37]:
import pandas as pd
import numpy as np

local_path = '/Users/csizi/Development/marathon_statistics/dataset/csv/bszm_2008_2020/'

bszm = pd.read_csv(local_path + 'bszm.csv', encoding = "utf8", 
                    sep=';', header=0)


bszm[bszm['Born'].isnull()]


#map_time_to_minutes(bszm['1.nap összidő'].str.split(':')[0])

,Placement,Name,Born,Category,Country,Team,City,Gender,Number,Category/Placement,...,3.day/2.time,3.day/3.time,3.day/sum,4.day/1.time,4.day/2.time,4.day/3.time,4.day/sum,Result,Ran km,event_year
2152,53.0,Gedey József,NaN,NaN,NaN,NaN,NaN,F,251,19 (F2),...,2:53:38,NaN,4:13:12,1:36:55,3:30:05,NaN,5:16:54,18:51:57,0.0,2011
2176,74.0,"Gyssler, Roland",NaN,NaN,NaN,NaN,NaN,F,252,29 (F2),...,3:09:17,NaN,4:32:53,1:49:17,3:48:35,NaN,5:40:46,20:42:29,0.0,2011

In [38]:
bszm["befejezte"] = np.where(bszm['Ran km'] < 180, False, True)
bszm

,Placement,Name,Born,Category,Country,Team,City,Gender,Number,Category/Placement,...,3.day/3.time,3.day/sum,4.day/1.time,4.day/2.time,4.day/3.time,4.day/sum,Result,Ran km,event_year,befejezte
0,1.0,Beda Szabolcs,1977.0,F3,HUN,ELTE SE Sashegyi gepárdok,Budapest,F,484,F3 / 1,...,0:51:30,2:53:54,1:04:01,1:22:26,1:02:24,3:28:51,13:02:08,196.0,2020,True
1,2.0,Bódis Tamás,1988.0,F1,HUN,ELTE SE Sashegyi gepárdok,Budapest,F,479,F1 / 1,...,0:51:25,2:48:22,1:01:41,1:20:17,1:02:09,3:24:07,13:06:48,196.0,2020,True
2,3.0,"Theisinger, Wolfgang",1982.0,F2,GER,RC Abschnitt Mitte,Regenstauf,F,511,F2 / 1,...,0:54:18,3:04:38,1:09:23,1:28:44,1:05:47,3:43:54,14:05:35,196.0,2020,True
3,4.0,Strifler Attila,1986.0,F1,HUN,NaN,Gyula,F,407,F1 / 2,...,0:55:24,3:05:44,1:09:40,1:28:46,1:07:32,3:45:58,14:22:47,196.0,2020,True
4,5.0,Szedlák Csaba,1978.0,F3,HUN,Vitalitás SE,Budapest,F,449,F3 / 2,...,1:00:59,3:17:03,1:11:29,1:31:19,1:10:47,3:53:35,14:42:39,196.0,2020,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2505,46.0,Kollár Zoltán,1965.0,NaN,HUN,NaN,Budapest,F,55,28 (F/3),...,1:36:56,5:07:13,1:52:37,2:09:01,2:11:43,6:13:21,23:33:51,0.0,2008,False
2506,5.0,Országné Faragó Éva,1966.0,NaN,HUN,Szondi SE,Kecskemét,N,32,3 (N/3),...,1:58:12,5:56:09,1:56:29,2:33:47,2:23:50,6:54:06,23:39:51,0.0,2008,False
2507,47.0,Molnár Attila,1963.0,NaN,HUN,NaN,Oroszlány,F,45,29 (F/3),...,1:50:44,5:27:42,1:51:24,2:24:39,2:14:20,6:30:23,23:45:41,0.0,2008,False
2508,6.0,Hack Zsanett,1984.0,NaN,HUN,NaN,Nyergesújfalu,N,27,1 (N/1),...,1:53:07,5:38:19,1:50:16,2:24:51,2:34:05,6:49:12,1:0:19:15,0.0,2008,False
2509,48.0,Maczó András,1949.0,NaN,HUN,Futapest,Budapest,F,26,30 (F/3),...,3:49:27,5:21:21,1:57:39,2:34:02,2:22:08,6:53:49,1:0:35:16.000,0.0,2008,False

In [39]:
bszm['age'] = bszm['event_year'] - bszm['Born']
bszm

,Placement,Name,Born,Category,Country,Team,City,Gender,Number,Category/Placement,...,3.day/sum,4.day/1.time,4.day/2.time,4.day/3.time,4.day/sum,Result,Ran km,event_year,befejezte,age
0,1.0,Beda Szabolcs,1977.0,F3,HUN,ELTE SE Sashegyi gepárdok,Budapest,F,484,F3 / 1,...,2:53:54,1:04:01,1:22:26,1:02:24,3:28:51,13:02:08,196.0,2020,True,43.0
1,2.0,Bódis Tamás,1988.0,F1,HUN,ELTE SE Sashegyi gepárdok,Budapest,F,479,F1 / 1,...,2:48:22,1:01:41,1:20:17,1:02:09,3:24:07,13:06:48,196.0,2020,True,32.0
2,3.0,"Theisinger, Wolfgang",1982.0,F2,GER,RC Abschnitt Mitte,Regenstauf,F,511,F2 / 1,...,3:04:38,1:09:23,1:28:44,1:05:47,3:43:54,14:05:35,196.0,2020,True,38.0
3,4.0,Strifler Attila,1986.0,F1,HUN,NaN,Gyula,F,407,F1 / 2,...,3:05:44,1:09:40,1:28:46,1:07:32,3:45:58,14:22:47,196.0,2020,True,34.0
4,5.0,Szedlák Csaba,1978.0,F3,HUN,Vitalitás SE,Budapest,F,449,F3 / 2,...,3:17:03,1:11:29,1:31:19,1:10:47,3:53:35,14:42:39,196.0,2020,True,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2505,46.0,Kollár Zoltán,1965.0,NaN,HUN,NaN,Budapest,F,55,28 (F/3),...,5:07:13,1:52:37,2:09:01,2:11:43,6:13:21,23:33:51,0.0,2008,False,43.0
2506,5.0,Országné Faragó Éva,1966.0,NaN,HUN,Szondi SE,Kecskemét,N,32,3 (N/3),...,5:56:09,1:56:29,2:33:47,2:23:50,6:54:06,23:39:51,0.0,2008,False,42.0
2507,47.0,Molnár Attila,1963.0,NaN,HUN,NaN,Oroszlány,F,45,29 (F/3),...,5:27:42,1:51:24,2:24:39,2:14:20,6:30:23,23:45:41,0.0,2008,False,45.0
2508,6.0,Hack Zsanett,1984.0,NaN,HUN,NaN,Nyergesújfalu,N,27,1 (N/1),...,5:38:19,1:50:16,2:24:51,2:34:05,6:49:12,1:0:19:15,0.0,2008,False,24.0
2509,48.0,Maczó András,1949.0,NaN,HUN,Futapest,Budapest,F,26,30 (F/3),...,5:21:21,1:57:39,2:34:02,2:22:08,6:53:49,1:0:35:16.000,0.0,2008,False,59.0

In [40]:
#Calculate all time columns to seconds only

def calculate_time_column(row):
    timeArray = row.split(':')
    try: 
        return ((int(timeArray[0]) * 60 + int(timeArray[1])) * 60 + int(timeArray[2]))
    except Exception as e:
        print(e)
        print(row)
        return -1

bszm['Result'] = bszm['Result'].astype(str).apply(lambda row: calculate_time_column(row))
bszm

AttributeError: 'list' object has no attribute 'split'