# Ultramarathon results

## Abstract

In this notebook, we will dig deeper into some individual ultramarathon results. The data available for us was provided by the organizers of this event. It consists of data recorded on the events from 2008 to 2020.

In [2084]:
import pandas as pd
import numpy as np
import seaborn as sns

local_path = '/Users/csizi/Development/marathon_statistics/dataset/csv/bszm_2008_2020/'

bszm = pd.read_csv(local_path + 'bszm.csv', encoding = "utf8", 
                    sep=';', header=0)

bszm

,Placement,Name,Born,Category,Country,Team,City,Gender,Number,Category/Placement,...,3.day/2.time,3.day/3.time,3.day/sum,4.day/1.time,4.day/2.time,4.day/3.time,4.day/sum,Result,Ran km,event_year
0,1.0,Beda Szabolcs,1977,F3,HUN,ELTE SE Sashegyi gepárdok,Budapest,F,484,F3 / 1,...,1:09:42,0:51:30,2:53:54,1:04:01,1:22:26,1:02:24,3:28:51,13:02:08,196.0,2020
1,2.0,Bódis Tamás,1988,F1,HUN,ELTE SE Sashegyi gepárdok,Budapest,F,479,F1 / 1,...,1:07:40,0:51:25,2:48:22,1:01:41,1:20:17,1:02:09,3:24:07,13:06:48,196.0,2020
2,3.0,"Theisinger, Wolfgang",1982,F2,GER,RC Abschnitt Mitte,Regenstauf,F,511,F2 / 1,...,1:14:10,0:54:18,3:04:38,1:09:23,1:28:44,1:05:47,3:43:54,14:05:35,196.0,2020
3,4.0,Strifler Attila,1986,F1,HUN,NaN,Gyula,F,407,F1 / 2,...,1:14:13,0:55:24,3:05:44,1:09:40,1:28:46,1:07:32,3:45:58,14:22:47,196.0,2020
4,5.0,Szedlák Csaba,1978,F3,HUN,Vitalitás SE,Budapest,F,449,F3 / 2,...,1:17:00,1:00:59,3:17:03,1:11:29,1:31:19,1:10:47,3:53:35,14:42:39,196.0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2505,46.0,Kollár Zoltán,1965,NaN,HUN,NaN,Budapest,F,55,28 (F/3),...,1:58:21,1:36:56,5:07:13,1:52:37,2:09:01,2:11:43,6:13:21,23:33:51,0.0,2008
2506,5.0,Országné Faragó Éva,1966,NaN,HUN,Szondi SE,Kecskemét,N,32,3 (N/3),...,2:28:55,1:58:12,5:56:09,1:56:29,2:33:47,2:23:50,6:54:06,23:39:51,0.0,2008
2507,47.0,Molnár Attila,1963,NaN,HUN,NaN,Oroszlány,F,45,29 (F/3),...,2:08:12,1:50:44,5:27:42,1:51:24,2:24:39,2:14:20,6:30:23,23:45:41,0.0,2008
2508,6.0,Hack Zsanett,1984,NaN,HUN,NaN,Nyergesújfalu,N,27,1 (N/1),...,2:21:18,1:53:07,5:38:19,1:50:16,2:24:51,2:34:05,6:49:12,1:0:19:15,0.0,2008
2509,48.0,Maczó András,1949,NaN,HUN,Futapest,Budapest,F,26,30 (F/3),...,NaN,3:49:27,5:21:21,1:57:39,2:34:02,2:22:08,6:53:49,1:0:35:16.000,0.0,2008

In [2085]:
bszm['1.day/1.length'] = 14.4
bszm['1.day/2.length'] = 16.2
bszm['1.day/3.length'] = 16.1
bszm['1.day/length'] = 46.7
bszm['2.day/1.length'] = 16.2
bszm['2.day/2.length'] = 15.6
bszm['2.day/3.length'] = 21.2
bszm['2.day/length'] = 52.9
bszm['3.day/1.length'] = 13.3
bszm['3.day/2.length'] = 17
bszm['3.day/3.length'] = 13.1
bszm['3.day/length'] = 43.4
bszm['4.day/1.length'] = 16.7
bszm['4.day/2.length'] = 18.2
bszm['4.day/3.length'] = 17.1
bszm['4.day/length'] = 52

bszm['event_length'] = bszm['1.day/length'] + bszm['2.day/length'] + bszm['3.day/length'] + bszm['4.day/length']

In [2086]:
bszm['Placement'] = bszm['Placement'].astype(str) 
bszm['Placement'] = bszm['Placement'].replace('nan', '999')
bszm['Placement'] = bszm['Placement'].astype(float)
bszm['Gender'] = bszm['Gender'].replace('F', 'M')
bszm['Gender'] = bszm['Gender'].replace('N', 'F')

In [2087]:
bszm['finished'] = np.where(bszm['Placement'] > 900, False, True)

In [2088]:
bszm['Born'] = np.where(bszm['Born'] < 1900,
                                           bszm['Born'] + 1900,
                                           bszm['Born'])

In [2089]:
bszm['age'] = bszm['event_year'] - bszm['Born']

In [2090]:
#Calculate all time columns to seconds only

def calculate_time_column(row):
    timeArray = row.split(':')
    try: 
        if(row == 'nan' or row == '4:3' or '4:3:' in row):
            return 0;
        return ((int(timeArray[0]) * 60 + int(timeArray[1])) * 60 + int(timeArray[2]))
    except Exception as e:
        print(e)
        print(row)
        return 0

bszm['1.day/1.time'] = bszm['1.day/1.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['1.day/2.time'] = bszm['1.day/2.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['1.day/3.time'] = bszm['1.day/3.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['1.day/sum'] = bszm['1.day/sum'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['2.day/1.time'] = bszm['2.day/1.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['2.day/2.time'] = bszm['2.day/2.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['2.day/3.time'] = bszm['2.day/3.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['2.day/sum'] = bszm['2.day/sum'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['3.day/1.time'] = bszm['3.day/1.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['3.day/2.time'] = bszm['3.day/2.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['3.day/3.time'] = bszm['3.day/3.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['3.day/sum'] = bszm['3.day/sum'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['4.day/1.time'] = bszm['4.day/1.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['4.day/2.time'] = bszm['4.day/2.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['4.day/3.time'] = bszm['4.day/3.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['4.day/sum'] = bszm['4.day/sum'].astype(str).apply(lambda row: calculate_time_column(row))

In [2091]:
bszm['Result'] = bszm['1.day/sum'] + bszm['2.day/sum'] + bszm['3.day/sum'] + bszm['4.day/sum']

In [2092]:
bszm['finisher_result'] = np.where(bszm['finished'] == True, bszm['Result'], 0)

In [2093]:
bszm['Ran km'] = np.where(bszm['event_year'] == 2008,
                                           195,
                                           bszm['Ran km'])
bszm['Ran km'] = np.where(bszm['event_year'] == 2009,
                                           195,
                                           bszm['Ran km'])
bszm['Ran km'] = np.where(bszm['event_year'] == 2010,
                                           195,
                                           bszm['Ran km'])
bszm['Ran km'] = np.where((bszm['event_year'] == 2011) & (bszm['finished'] == True),
                                           195,
                                           bszm['Ran km'])
bszm['Ran km'] = np.where((bszm['event_year'] == 2012) & (bszm['finished'] == True),
                                           195,
                                           bszm['Ran km'])
bszm['Ran km'] = np.where((bszm['event_year'] == 2013) & (bszm['finished'] == True),
                                           195,
                                           bszm['Ran km'])
bszm['Ran km'] = np.where((bszm['event_year'] == 2014) & (bszm['finished'] == True),
                                           195,
                                           bszm['Ran km'])

In [2094]:
bszm['average_tempo(minutes/km)'] = (bszm['Result'] / 60) / bszm['Ran km']

In [2095]:
bszm['1/1_tempo'] = (bszm['1.day/1.time'] / 60) / bszm['1.day/1.length']
bszm['1/2_tempo'] = (bszm['1.day/2.time'] / 60) / bszm['1.day/2.length']
bszm['1/3_tempo'] = (bszm['1.day/3.time'] / 60) / bszm['1.day/3.length']
bszm['1_tempo'] = (bszm['1.day/sum'] / 60) / bszm['1.day/length']
bszm['2/1_tempo'] = (bszm['2.day/1.time'] / 60) / bszm['2.day/1.length']
bszm['2/2_tempo'] = (bszm['2.day/2.time'] / 60) / bszm['2.day/2.length']
bszm['2/3_tempo'] = (bszm['2.day/3.time'] / 60) / bszm['2.day/3.length']
bszm['2_tempo'] = (bszm['2.day/sum'] / 60) / bszm['2.day/length']
bszm['3/1_tempo'] = (bszm['3.day/1.time'] / 60) / bszm['3.day/1.length']
bszm['3/2_tempo'] = (bszm['3.day/2.time'] / 60) / bszm['3.day/2.length']
bszm['3/3_tempo'] = (bszm['3.day/3.time'] / 60) / bszm['3.day/3.length']
bszm['3_tempo'] = (bszm['3.day/sum'] / 60) / bszm['3.day/length']
bszm['4/1_tempo'] = (bszm['4.day/1.time'] / 60) / bszm['4.day/1.length']
bszm['4/2_tempo'] = (bszm['4.day/2.time'] / 60) / bszm['4.day/2.length']
bszm['4/3_tempo'] = (bszm['4.day/3.time'] / 60) / bszm['4.day/3.length']
bszm['4_tempo'] = (bszm['4.day/sum'] / 60) / bszm['4.day/length']

In [2096]:
bszm['Team'] = np.where(bszm['Team'].astype(str) == 'nan', '-', bszm['Team'])

In [2097]:
#F1 18 - 27
#F2 28 - 39
#F3 40 - 50
#F4 51 - 59
#F5 60+

#N1 18 - 27
#N2 28 - 39
#N3 40 - 55
#N4 55+

#TODO make custom age categories
bszm['Category'] = np.where((bszm['age'] <= 27) & (bszm['Gender'] == 'M'), 'M1', bszm['Category'])
bszm['Category'] = np.where((bszm['age'] >= 28) & (bszm['age'] <= 39) & (bszm['Gender'] == 'M'), 'M2', bszm['Category'])
bszm['Category'] = np.where((bszm['age'] >= 40) & (bszm['age'] <= 50) & (bszm['Gender'] == 'M'), 'M3', bszm['Category'])
bszm['Category'] = np.where((bszm['age'] >= 51) & (bszm['age'] <= 59) & (bszm['Gender'] == 'M'), 'M4', bszm['Category'])
bszm['Category'] = np.where((bszm['age'] >= 60) & (bszm['Gender'] == 'M'), 'M5', bszm['Category'])

bszm['Category'] = np.where((bszm['age'] <= 27) & (bszm['Gender'] == 'F'), 'F1', bszm['Category'])
bszm['Category'] = np.where((bszm['age'] >= 28) & (bszm['age'] <= 39) & (bszm['Gender'] == 'F'), 'F2', bszm['Category'])
bszm['Category'] = np.where((bszm['age'] >= 40) & (bszm['age'] <= 55) & (bszm['Gender'] == 'F'), 'F3', bszm['Category'])
bszm['Category'] = np.where((bszm['age'] >= 55) & (bszm['Gender'] == 'F'), 'F4', bszm['Category'])

In [2098]:
#bszm[bszm['average_tempo(minutes/km)'] < 3.5]
df = bszm[bszm['event_year'] == 2012]

In [2099]:
#TODO DROP temppo outliers
bszm.loc[(bszm['average_tempo(minutes/km)'] < 3.5) & (bszm['average_tempo(minutes/km)'] > 0)] = np.nan
bszm.dropna(axis=0, how='all', inplace=True)

In [2100]:
bszm['average_tempo(minutes/km)'] = np.where(bszm['average_tempo(minutes/km)'] == 0, np.nan, bszm['average_tempo(minutes/km)'])

In [2101]:
#Bucketing with equal intervals
#bszm['tempo_category'] = pd.cut(bszm['average_tempo(minutes/km)'], 5, labels=['fast', 'mid fast', 'average', 'mid slow', 'slow'])

#Bucketing with equal number of individuals
bszm['tempo_category'] = pd.qcut(bszm['average_tempo(minutes/km)'], 5, labels=['fast', 'mid fast', 'average', 'mid slow', 'slow'])

In [2102]:
bszm['club_member'] = np.where(bszm['Team'] == '-', False, True)

In [2103]:
bszm.to_csv('/Users/csizi/Development/marathon_statistics/dataset/csv/bszm_2008_2020/bszm_cleaned.csv', sep=';', header=True, index=False)