# Ultramarathon results

## Abstract

In this notebook, we will dig deeper into some individual ultramarathon results. The data available for us was provided by the organizers of this event. It consists of data recorded on the events from 2008 to 2020.

In [118]:
import pandas as pd
import numpy as np

local_path = '/Users/csizi/Development/marathon_statistics/dataset/csv/bszm_2008_2020/'

bszm = pd.read_csv(local_path + 'bszm.csv', encoding = "utf8", 
                    sep=';', header=0)


bszm[bszm['Born'].isnull()]


#map_time_to_minutes(bszm['1.nap összidő'].str.split(':')[0])

,Placement,Name,Born,Category,Country,Team,City,Gender,Number,Category/Placement,...,3.day/2.time,3.day/3.time,3.day/sum,4.day/1.time,4.day/2.time,4.day/3.time,4.day/sum,Result,Ran km,event_year
2152,53.0,Gedey József,NaN,NaN,NaN,NaN,NaN,F,251,19 (F2),...,2:53:38,NaN,4:13:12,1:36:55,3:30:05,NaN,5:16:54,18:51:57,0.0,2011
2176,74.0,"Gyssler, Roland",NaN,NaN,NaN,NaN,NaN,F,252,29 (F2),...,3:09:17,NaN,4:32:53,1:49:17,3:48:35,NaN,5:40:46,20:42:29,0.0,2011

In [119]:
bszm['age'] = bszm['event_year'] - bszm['Born']

In [120]:
#Calculate all time columns to seconds only

def calculate_time_column(row):
    timeArray = row.split(':')
    try: 
        if(row == 'nan' or row == '4:3'):
            return 0;
        return ((int(timeArray[0]) * 60 + int(timeArray[1])) * 60 + int(timeArray[2]))
    except Exception as e:
        print(e)
        print(row)
        return 0

bszm['1.day/1.time'] = bszm['1.day/1.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['1.day/2.time'] = bszm['1.day/2.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['1.day/3.time'] = bszm['1.day/3.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['1.day/sum'] = bszm['1.day/sum'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['2.day/1.time'] = bszm['2.day/1.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['2.day/2.time'] = bszm['2.day/2.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['2.day/3.time'] = bszm['2.day/3.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['2.day/sum'] = bszm['2.day/sum'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['3.day/1.time'] = bszm['3.day/1.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['3.day/2.time'] = bszm['3.day/2.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['3.day/3.time'] = bszm['3.day/3.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['3.day/sum'] = bszm['3.day/sum'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['4.day/1.time'] = bszm['4.day/1.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['4.day/2.time'] = bszm['4.day/2.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['4.day/3.time'] = bszm['4.day/3.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['4.day/sum'] = bszm['4.day/sum'].astype(str).apply(lambda row: calculate_time_column(row))

In [121]:
bszm['Result'] = bszm['1.day/sum'] + bszm['2.day/sum'] + bszm['3.day/sum'] + bszm['4.day/sum']

In [122]:
#Calculate results by, daily split results

#bszm[bszm['Born'] == np.nan]
#bszm['Born'] = bszm['Born'].apply(np.int64)
bszm

,Placement,Name,Born,Category,Country,Team,City,Gender,Number,Category/Placement,...,3.day/3.time,3.day/sum,4.day/1.time,4.day/2.time,4.day/3.time,4.day/sum,Result,Ran km,event_year,age
0,1.0,Beda Szabolcs,1977.0,F3,HUN,ELTE SE Sashegyi gepárdok,Budapest,F,484,F3 / 1,...,3090,10434,3841,4946,3744,12531,46928,196.0,2020,43.0
1,2.0,Bódis Tamás,1988.0,F1,HUN,ELTE SE Sashegyi gepárdok,Budapest,F,479,F1 / 1,...,3085,10102,3701,4817,3729,12247,47208,196.0,2020,32.0
2,3.0,"Theisinger, Wolfgang",1982.0,F2,GER,RC Abschnitt Mitte,Regenstauf,F,511,F2 / 1,...,3258,11078,4163,5324,3947,13434,50735,196.0,2020,38.0
3,4.0,Strifler Attila,1986.0,F1,HUN,NaN,Gyula,F,407,F1 / 2,...,3324,11144,4180,5326,4052,13558,51767,196.0,2020,34.0
4,5.0,Szedlák Csaba,1978.0,F3,HUN,Vitalitás SE,Budapest,F,449,F3 / 2,...,3659,11823,4289,5479,4247,14015,52959,196.0,2020,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2505,46.0,Kollár Zoltán,1965.0,NaN,HUN,NaN,Budapest,F,55,28 (F/3),...,5816,18433,6757,7741,7903,22401,84831,0.0,2008,43.0
2506,5.0,Országné Faragó Éva,1966.0,NaN,HUN,Szondi SE,Kecskemét,N,32,3 (N/3),...,7092,21369,6989,9227,8630,24846,85191,0.0,2008,42.0
2507,47.0,Molnár Attila,1963.0,NaN,HUN,NaN,Oroszlány,F,45,29 (F/3),...,6644,19662,6684,8679,8060,23423,85541,0.0,2008,45.0
2508,6.0,Hack Zsanett,1984.0,NaN,HUN,NaN,Nyergesújfalu,N,27,1 (N/1),...,6787,20299,6616,8691,9245,24552,87555,0.0,2008,24.0
2509,48.0,Maczó András,1949.0,NaN,HUN,Futapest,Budapest,F,26,30 (F/3),...,13767,19281,7059,9242,8528,24829,88516,0.0,2008,59.0

In [128]:
def finishedRace(row):
    if row['1.day/1.time'] > 0 and
    row['1.day/2.time'] > 0  and
    row['1.day/3.time'] > 0 and
    row['1.day/sum'] > 0 and
    row['2.day/1.time'] > 0 and
    row['2.day/2.time'] > 0 &
    row['2.day/3.time'] > 0 &
    row['2.day/sum'] > 0 &
    row['3.day/1.time'] > 0 &
    row['3.day/2.time'] > 0 &
    row['3.day/3.time'] > 0 &
    row['3.day/sum'] > 0 &
    row['4.day/1.time'] > 0 &
    row['4.day/2.time'] > 0 &
    row['4.day/3.time'] > 0 &
    row['4.day/sum'] > 0:
        return True
    else:
        return False
        
    

bszm["befejezte"] = bszm.apply(finishedRace, axis=1)
bszm

SyntaxError: invalid syntax (836714614.py, line 2)