# Ultramarathon results

## Abstract

In this notebook, we will dig deeper into some individual ultramarathon results. The data available for us was provided by the organizers of this event. It consists of data recorded on the events from 2008 to 2020.

In [502]:
import pandas as pd
import numpy as np

local_path = '/Users/csizi/Development/marathon_statistics/dataset/csv/bszm_2008_2020/'

bszm = pd.read_csv(local_path + 'bszm.csv', encoding = "utf8", 
                    sep=';', header=0)

bszm.dtypes
#bszm[bszm['Placement'] == 999]

Placement             float64
Name                   object
Born                    int64
Category               object
Country                object
Team                   object
City                   object
Gender                 object
Number                  int64
Category/Placement     object
1.day/1.time           object
1.day/2.time           object
1.day/3.time           object
1.day/sum              object
2.day/1.time           object
2.day/2.time           object
2.day/3.time           object
2.day/sum              object
3.day/1.time           object
3.day/2.time           object
3.day/3.time           object
3.day/sum              object
4.day/1.time           object
4.day/2.time           object
4.day/3.time           object
4.day/sum              object
Result                 object
Ran km                float64
event_year              int64
dtype: object

In [503]:
bszm['Placement'] = bszm['Placement'].astype(str) 
bszm['Placement'] = bszm['Placement'].replace('nan', '999')
bszm['Placement'] = bszm['Placement'].astype(float)

In [504]:
bszm['finished'] = np.where(bszm['Placement'] > 900, False, True)
bszm[250:].head(25)

,Placement,Name,Born,Category,Country,Team,City,Gender,Number,Category/Placement,...,3.day/3.time,3.day/sum,4.day/1.time,4.day/2.time,4.day/3.time,4.day/sum,Result,Ran km,event_year,finished
250,200.0,Dobó Szilveszter,1974,F3,HUN,NaN,Domaszék,F,268,F3 / 92,...,1:48:10,5:51:16,2:12:01,NaN,5:12:06,7:24:07,1:1:31:30,196.0,2020,True
251,52.0,Szényi Sarolta,1982,N2,HUN,Sashegyi Gepárdok,Szentendre,N,403,N2 / 34,...,1:47:03,5:51:00,2:07:32,3:02:01,2:06:20,7:15:53,1:1:45:43.000,196.0,2020,True
252,201.0,"Petroczki, Geza Jozef",1962,F4,ROM,Ipse,Budapest,F,445,F4 / 46,...,1:48:22,5:51:55,2:02:05,2:52:50,2:06:38,7:01:33,1:1:49:19,196.0,2020,True
253,202.0,Dely Zsolt,1972,F3,HUN,NaN,Enying,F,291,F3 / 93,...,1:55:32,6:04:36,2:04:26,2:51:59,2:16:08,7:12:33,1:2:13:39,196.0,2020,True
254,203.0,Demkó Gábor,1973,F3,HUN,Monorierdei Szabadidősport,Monorierdő,F,105,F3 / 94,...,1:44:01,5:55:39,2:00:31,2:52:56,2:19:14,7:12:41,1:2:37:07,196.0,2020,True
255,204.0,"Bluecher, Tord",1958,F5,SWE,NaN,Storaa,F,564,F5 / 10,...,1:58:23,6:16:35,2:16:11,3:01:55,2:12:12,7:30:18,1:2:52:58,196.0,2020,True
256,999.0,Tóth Iván Csaba,1974,F3,HUN,Fót SE Atlétika,Fót,F,430,NaN,...,3:30:18,5:03:50,2:01:41,2:25:53,1:49:13,6:16:47,4:3:59:59,143.0,2020,False
257,999.0,Toldi Péter,1981,F2,HUN,NaN,Szeged,F,418,NaN,...,NaN,4:3:59:59,NaN,NaN,NaN,4:3:59:59,4:3:59:59,101.0,2020,False
258,999.0,Szilasy Tibor,1973,F3,HUN,Kistarcsai VRSC,Budapest,F,452,NaN,...,3:38:33,5:07:45,NaN,NaN,NaN,4:3:59:59,4:3:59:59,145.0,2020,False
259,999.0,Ménesi Tamás,1969,F4,HUN,NaN,Budapest,F,274,NaN,...,NaN,4:3:59:59,NaN,NaN,NaN,4:3:59:59,4:3:59:59,101.0,2020,False
260,999.0,Dáva Iván,1960,F4,HUN,NaN,Budapest,F,109,NaN,...,NaN,4:3:59:59,2:17:41,NaN,NaN,4:3:59:59,4:3:59:59,16.0,2020,False
261,999.0,Domán Gábor,1960,F5,HUN,Tapolca Honvéd SE,Tapolca,F,469,NaN,...,NaN,4:3:59:59,NaN,NaN,NaN,4:3:59:59,4:3:59:59,32.0,2020,False
262,999.0,Simon Péter,1965,F4,HUN,NaN,Budapest,F,455,NaN,...,NaN,4:3:59:59,NaN,NaN,NaN,4:3:59:59,4:3:59:59,48.0,2020,False
263,999.0,Márkus István Öcsi,1972,F3,HUN,Kadarka Futóegyesület,Szekszárd,F,251,NaN,...,1:19:21,4:10:39,1:39:57,NaN,NaN,4:3:59:59,4:3:59:59,161.0,2020,False
264,999.0,Horváth Csilla,1993,N1,HUN,KEFE- Komárom,Komárom,N,402,NaN,...,1:14:09,4:14:43,1:34:26,2:09:17,1:32:54,5:16:37,4:3:59:59,143.0,2020,False
265,999.0,Mihalicz Csaba,1975,F3,HUN,NaN,Gyöngyös,F,198,NaN,...,NaN,4:3:59:59,NaN,NaN,NaN,4:3:59:59,4:3:59:59,48.0,2020,False
266,999.0,"Harrer, Karl",1958,F5,AUT,ÁWF,Sopron,F,305,NaN,...,1:24:46,4:41:40,1:41:40,2:15:01,1:47:37,5:44:18,4:3:59:59,143.0,2020,False
267,999.0,Halász Krisztina,1972,N2,HUN,NaN,Szeged,N,221,NaN,...,NaN,4:3:59:59,NaN,NaN,NaN,4:3:59:59,4:3:59:59,48.0,2020,False
268,999.0,"Triffault, Gilles",1979,F3,FRA,NaN,Beaumont De Pertuis,F,506,NaN,...,NaN,4:3:59:59,NaN,NaN,NaN,4:3:59:59,4:3:59:59,115.0,2020,False
269,999.0,Tóth István,1978,F3,HUN,Kilométergyűjtők SE,Budapest,F,202,NaN,...,NaN,4:3:59:59,NaN,NaN,NaN,4:3:59:59,4:3:59:59,48.0,2020,False
270,999.0,"Pawel, Garncarz",1974,F3,POL,NaN,Wroclaw,F,508,NaN,...,1:21:57,4:23:06,NaN,NaN,NaN,4:3:59:59,4:3:59:59,145.0,2020,False
271,999.0,Szabó Zoltán,1968,F4,HUN,SZVISE Atlétika és Triatlon,Százhalombatta,F,294,NaN,...,NaN,4:3:59:59,NaN,NaN,NaN,4:3:59:59,4:3:59:59,80.0,2020,False
272,999.0,Takács Gábor,1975,F3,HUN,NaN,Eger,F,174,NaN,...,1:16:12,4:14:43,NaN,NaN,NaN,4:3:59:59,4:3:59:59,145.0,2020,False
273,999.0,Peizer Szabolcs,1971,F3,HUN,BalatoniHajózás,Balatonföldvár,F,201,NaN,...,NaN,4:3:59:59,NaN,NaN,NaN,4:3:59:59,4:3:59:59,80.0,2020,False
274,999.0,Hajduk Pavol,1973,F3,SVK,NaN,Dolný Kubín,F,526,NaN,...,1:29:36,4:40:49,1:58:15,2:39:33,1:52:06,6:29:54,4:3:59:59,143.0,2020,False

In [505]:
bszm['Born'] = np.where(bszm['Born'] < 1900,
                                           bszm['Born'] + 1900,
                                           bszm['Born'])

In [506]:
bszm['age'] = bszm['event_year'] - bszm['Born']

In [507]:
#Calculate all time columns to seconds only

def calculate_time_column(row):
    timeArray = row.split(':')
    try: 
        if(row == 'nan' or row == '4:3' or '4:3:' in row):
            return 0;
        return ((int(timeArray[0]) * 60 + int(timeArray[1])) * 60 + int(timeArray[2]))
    except Exception as e:
        print(e)
        print(row)
        return 0

bszm['1.day/1.time'] = bszm['1.day/1.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['1.day/2.time'] = bszm['1.day/2.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['1.day/3.time'] = bszm['1.day/3.time'].astype(str).apply(lambda row: calculate_time_column(row))
#bszm['1.day/sum'] = bszm['1.day/sum'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['2.day/1.time'] = bszm['2.day/1.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['2.day/2.time'] = bszm['2.day/2.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['2.day/3.time'] = bszm['2.day/3.time'].astype(str).apply(lambda row: calculate_time_column(row))
#bszm['2.day/sum'] = bszm['2.day/sum'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['3.day/1.time'] = bszm['3.day/1.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['3.day/2.time'] = bszm['3.day/2.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['3.day/3.time'] = bszm['3.day/3.time'].astype(str).apply(lambda row: calculate_time_column(row))
#bszm['3.day/sum'] = bszm['3.day/sum'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['4.day/1.time'] = bszm['4.day/1.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['4.day/2.time'] = bszm['4.day/2.time'].astype(str).apply(lambda row: calculate_time_column(row))
bszm['4.day/3.time'] = bszm['4.day/3.time'].astype(str).apply(lambda row: calculate_time_column(row))
#bszm['4.day/sum'] = bszm['4.day/sum'].astype(str).apply(lambda row: calculate_time_column(row))

In [508]:
bszm['1.day/sum'] = bszm['1.day/1.time'] + bszm['1.day/2.time'] + bszm['1.day/3.time']
bszm['2.day/sum'] = bszm['2.day/1.time'] + bszm['2.day/2.time'] + bszm['2.day/3.time']
bszm['3.day/sum'] = bszm['3.day/1.time'] + bszm['3.day/2.time'] + bszm['3.day/3.time']
bszm['4.day/sum'] = bszm['4.day/1.time'] + bszm['4.day/2.time'] + bszm['4.day/3.time']

In [509]:
bszm['Result'] = bszm['1.day/sum'] + bszm['2.day/sum'] + bszm['3.day/sum'] + bszm['4.day/sum']

In [510]:
bszm.iloc[592:600, 10:30]

,1.day/1.time,1.day/2.time,1.day/3.time,1.day/sum,2.day/1.time,2.day/2.time,2.day/3.time,2.day/sum,3.day/1.time,3.day/2.time,3.day/3.time,3.day/sum,4.day/1.time,4.day/2.time,4.day/3.time,4.day/sum,Result,Ran km,event_year,finished
592,5673,0,13067,18740,6164,7843,10927,24934,0,0,0,0,0,0,0,0,43674,101.0,2019,False
593,6185,0,13732,19917,6530,6976,10270,23776,5563,8180,6397,20140,7203,0,0,7203,71036,161.0,2019,False
594,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,2019,False
595,6291,6866,8026,21183,6951,9097,0,16048,6674,8705,6471,21850,7876,10442,7815,26133,85214,175.0,2019,False
596,4996,4994,5078,15068,5050,5057,6940,17047,4216,5688,4483,14387,0,0,0,0,46502,145.0,2019,False
597,5243,0,16169,21412,0,0,0,0,5364,8703,6999,21066,0,0,0,0,42478,92.0,2019,False
598,5471,6148,7194,18813,5967,6279,9427,21673,0,0,0,0,0,0,0,0,40486,101.0,2019,False
599,0,0,0,0,0,0,0,0,0,0,0,0,7627,0,0,7627,7627,16.0,2019,False

In [511]:
bszm[bszm['event_year'] == 2016].iloc[1:, 10:30].tail(30)

,1.day/1.time,1.day/2.time,1.day/3.time,1.day/sum,2.day/1.time,2.day/2.time,2.day/3.time,2.day/sum,3.day/1.time,3.day/2.time,3.day/3.time,3.day/sum,4.day/1.time,4.day/2.time,4.day/3.time,4.day/sum,Result,Ran km,event_year,finished
1331,6478,7236,7553,21267,7016,7741,11192,25949,5798,8510,7735,22043,6687,10726,8577,25990,95249,195.0,2016,True
1332,4935,5558,8103,18596,0,0,0,0,0,0,0,0,0,0,0,0,18596,48.0,2016,False
1333,4211,4422,4741,13374,4755,4848,7101,16704,4151,5589,5076,14816,0,0,0,0,44894,146.0,2016,False
1334,6873,0,0,6873,0,0,0,0,0,0,0,0,6384,0,0,6384,13257,30.0,2016,False
1335,5424,5643,6763,17830,5414,5658,7858,18930,4260,0,0,4260,0,0,0,0,41020,114.0,2016,False
1336,0,0,0,0,6091,6222,8584,20897,0,0,0,0,0,0,0,0,20897,52.0,2016,False
1337,5793,6622,7381,19796,6458,7636,11078,25172,0,0,0,0,0,0,0,0,44968,101.0,2016,False
1338,5928,6814,8316,21058,0,0,0,0,5163,7909,7776,20848,6286,8849,6898,22033,63939,142.0,2016,False
1339,5627,6029,7255,18911,0,0,0,0,0,0,0,0,0,0,0,0,18911,48.0,2016,False
1340,5499,5943,6873,18315,5783,6368,9703,21854,0,0,0,0,6703,0,0,6703,46872,115.0,2016,False
1341,4989,5334,0,10323,5633,0,14389,20022,4665,6167,5749,16581,5084,7592,6225,18901,65827,179.0,2016,False
1342,5782,6738,7514,20034,0,0,0,0,5116,7160,6271,18547,6054,8709,6680,21443,60024,142.0,2016,False
1343,5166,5547,6142,16855,5912,6255,9648,21815,0,0,0,0,0,0,0,0,38670,101.0,2016,False
1344,5693,6799,8526,21018,6383,7150,11325,24858,0,0,0,0,6094,9292,7735,23121,68997,150.0,2016,False
1345,6329,7381,7814,21524,0,0,0,0,0,0,0,0,0,0,0,0,21524,48.0,2016,False
1346,4388,4424,4465,13277,4477,4577,0,9054,0,0,0,0,0,0,0,0,22331,79.0,2016,False
1347,4681,5256,6589,16526,5525,5699,9317,20541,4854,6550,6094,17498,0,0,0,0,54565,146.0,2016,False
1348,5579,5962,7020,18561,5914,6058,10535,22507,0,0,0,0,0,0,0,0,41068,101.0,2016,False
1349,4941,4990,5300,15231,5048,5070,6704,16822,4103,5424,4637,14164,0,0,0,0,46217,146.0,2016,False
1350,5387,5275,7348,18010,5874,6369,11385,23628,0,0,0,0,0,0,0,0,41638,101.0,2016,False
1351,5150,6286,7638,19074,5888,5923,10373,22184,4716,7862,6823,19401,0,0,0,0,60659,146.0,2016,False
1352,5292,5583,6143,17018,5940,7451,9690,23081,0,0,0,0,0,0,0,0,40099,101.0,2016,False
1353,5808,6196,6482,18486,0,0,0,0,0,0,0,0,0,0,0,0,18486,48.0,2016,False
1354,6210,7141,8304,21655,0,0,0,0,5875,8892,7602,22369,6775,10098,8202,25075,69099,142.0,2016,False
1355,5670,0,0,5670,0,0,0,0,0,0,0,0,0,0,0,0,5670,15.0,2016,False
1356,4773,5104,5459,15336,4914,5009,7207,17130,4011,5667,4911,14589,0,0,0,0,47055,146.0,2016,False
1357,6652,6903,7778,21333,6750,7684,12473,26907,7439,0,0,7439,0,0,0,0,55679,114.0,2016,False
1358,5058,7248,9496,21802,6803,10003,0,16806,5860,9548,7765,23173,6647,11486,0,18133,79914,159.0,2016,False
1359,5526,6313,7374,19213,6472,6959,10248,23679,0,0,0,0,0,0,0,0,42892,101.0,2016,False
1360,6817,0,0,6817,0,0,0,0,0,0,0,0,0,0,0,0,6817,15.0,2016,False

In [512]:
bszm['Ran km'] = np.where(bszm['event_year'] == 2008,
                                           195,
                                           bszm['Ran km'])
bszm['Ran km'] = np.where(bszm['event_year'] == 2009,
                                           195,
                                           bszm['Ran km'])
bszm['Ran km'] = np.where(bszm['event_year'] == 2010,
                                           195,
                                           bszm['Ran km'])
bszm['Ran km'] = np.where((bszm['event_year'] == 2011) & (bszm['finished'] == True),
                                           195,
                                           bszm['Ran km'])
bszm['Ran km'] = np.where((bszm['event_year'] == 2012) & (bszm['finished'] == True),
                                           195,
                                           bszm['Ran km'])
bszm['Ran km'] = np.where((bszm['event_year'] == 2013) & (bszm['finished'] == True),
                                           195,
                                           bszm['Ran km'])
bszm['Ran km'] = np.where((bszm['event_year'] == 2014) & (bszm['finished'] == True),
                                           195,
                                           bszm['Ran km'])
bszm[bszm['event_year'] == 2012]

,Placement,Name,Born,Category,Country,Team,City,Gender,Number,Category/Placement,...,3.day/sum,4.day/1.time,4.day/2.time,4.day/3.time,4.day/sum,Result,Ran km,event_year,finished,age
1930,1.0,Steib Péter,1980,NaN,HUN,SZUFLA,Szigetszentmárton,F,283,1 / F2,...,10260,3903,8426,0,12329,45160,195.0,2012,True,32
1931,2.0,"Primozic, Lojze",1969,NaN,SLO,3IRON,Zabnica,F,285,1 / F3,...,10956,4089,8948,0,13037,46895,195.0,2012,True,43
1932,3.0,"Bonfiglio, Marco",1977,NaN,ITA,NaN,Milano,F,251,2 / F2,...,10983,4089,8948,0,13037,47058,195.0,2012,True,35
1933,4.0,"Ardzijauskas, Aidas",1971,NaN,LTU,NaN,Vilnius,F,300,2 / F3,...,10986,4066,8847,0,12913,43030,195.0,2012,True,41
1934,5.0,Peyer Zoltán,1980,NaN,HUN,Oxygen wellness,Budapest,F,291,3 / F2,...,3329,4153,9470,0,13623,32090,195.0,2012,True,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088,999.0,Szalma Rita,1970,NaN,HUN,NaN,Budapest,N,134,14 / N3,...,0,0,0,0,0,15481,49.0,2012,False,42
2089,999.0,Korcsmáros Tamás,1972,NaN,HUN,NaN,Békéscsaba,F,246,55 / F2,...,0,0,0,0,0,39979,99.0,2012,False,40
2090,999.0,"Kozelj, Bostjan",1978,NaN,SLO,NaN,Bled,F,265,57 / F2,...,0,0,0,0,0,35311,99.0,2012,False,34
2091,999.0,Burányi Viktor,1973,NaN,HUN,Szaratov II. Klub,Budapest,F,294,59 / F2,...,0,0,0,0,0,28884,99.0,2012,False,39
2092,999.0,Kirmer Tamás,1983,NaN,HUN,NaN,Barcs,F,127,53 / F2,...,0,6246,14972,0,21218,39374,101.0,2012,False,29

In [513]:
bszm['average_tempo(minutes/km)'] = (bszm['Result'] / 60) / bszm['Ran km']
bszm

,Placement,Name,Born,Category,Country,Team,City,Gender,Number,Category/Placement,...,4.day/1.time,4.day/2.time,4.day/3.time,4.day/sum,Result,Ran km,event_year,finished,age,average_tempo(minutes/km)
0,1.0,Beda Szabolcs,1977,F3,HUN,ELTE SE Sashegyi gepárdok,Budapest,F,484,F3 / 1,...,3841,4946,3744,12531,46974,196.0,2020,True,43,3.994388
1,2.0,Bódis Tamás,1988,F1,HUN,ELTE SE Sashegyi gepárdok,Budapest,F,479,F1 / 1,...,3701,4817,3729,12247,47260,196.0,2020,True,32,4.018707
2,3.0,"Theisinger, Wolfgang",1982,F2,GER,RC Abschnitt Mitte,Regenstauf,F,511,F2 / 1,...,4163,5324,3947,13434,50793,196.0,2020,True,38,4.319133
3,4.0,Strifler Attila,1986,F1,HUN,NaN,Gyula,F,407,F1 / 2,...,4180,5326,4052,13558,51767,196.0,2020,True,34,4.401956
4,5.0,Szedlák Csaba,1978,F3,HUN,Vitalitás SE,Budapest,F,449,F3 / 2,...,4289,5479,4247,14015,52989,196.0,2020,True,42,4.505867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2505,46.0,Kollár Zoltán,1965,NaN,HUN,NaN,Budapest,F,55,28 (F/3),...,6757,7741,7903,22401,84831,195.0,2008,True,43,7.250513
2506,5.0,Országné Faragó Éva,1966,NaN,HUN,Szondi SE,Kecskemét,N,32,3 (N/3),...,6989,9227,8630,24846,85191,195.0,2008,True,42,7.281282
2507,47.0,Molnár Attila,1963,NaN,HUN,NaN,Oroszlány,F,45,29 (F/3),...,6684,8679,8060,23423,85541,195.0,2008,True,45,7.311197
2508,6.0,Hack Zsanett,1984,NaN,HUN,NaN,Nyergesújfalu,N,27,1 (N/1),...,6616,8691,9245,24552,87555,195.0,2008,True,24,7.483333
2509,48.0,Maczó András,1949,NaN,HUN,Futapest,Budapest,F,26,30 (F/3),...,7059,9242,8528,24829,88516,195.0,2008,True,59,7.565470

In [515]:
bszm.to_csv('/Users/csizi/Development/marathon_statistics/dataset/csv/bszm_2008_2020/bszm_cleaned.csv', sep=';', header=True, index=False)